@import "tailwindcss";

@import "../components/Stats.module.css";
 
@tailwind utilities;
@tailwind utilities;


@theme {
/* Custom Breakpoints */
  --breakpoint-xs: 480px;

/* Color Palette */
  --color-primary-500: #877eff;
  --color-secondary-500: #ffb620;
  --color-blue: #0095f6;
  --color-logout-btn: #ff5a5a;
  --color-navbar-menu: rgba(16, 16, 18, 0.6);
  --color-dark-1: #000000;
  --color-dark-2: #121417;
  --color-dark-3: #101012;
  --color-dark-4: #1f1f22;
  --color-light-1: #ffffff;
  --color-light-2: #efefef;
  --color-light-3: #7878a3;
  --color-light-4: #5c5c7b;
  --color-gray-1: #697c89;
  --color-glassmorphism: rgba(16, 16, 18, 0.6);
}

/* styles for Embla Carousel */
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 33.33%; /* Shows 3 slides at once */
  min-width: 0;
  position: relative;
  padding-left: 1.5rem; /* Creates a gap between slides */
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .embla__slide {
    flex-basis: 50%;
  }
}
@media (max-width: 768px) {
  .embla__slide {
    flex-basis: 100%;
  }
}

body {
  overflow-x: hidden;
}
